/*<!-- H E A D E R --><!-- H E A D E R --><!-- H E A D E R --><!-- H E A D E R --> */

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  height: 80px;
  margin: 0 auto;
  justify-content: center;
  z-index: 1;
}

.navbar {
  display: flex;
}
.navbar__container {
  display: flex;
  height: 80px;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}

.navbar__menu {
  display: flex;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: 'Raleway';
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--black);
  padding-right: 47px;
}

.logo--color {
  color: var(--blue);
}

.navbar__list {
  display: flex;
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  gap: 30px;
}

.link {
  position: relative;
  margin: 2px;
  text-decoration: none;
  color: var(--black-second);
  display: flex;
  align-items: center;
}

.active {
  color: var(--blue);
}

.active::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  margin-top: 28px;
  background: var(--blue);
  border-radius: 2px;
  position: absolute;
  top: 100%;
  left: 0;
}

.link--gray {
  text-decoration: none;
  position: relative;
  margin: 2px;
  color: var(--gray);
  display: flex;
  align-items: center;
}

.link__icon-email {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--gray);
}

.link__icon-phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: var(--gray);
}

.link--gray:hover svg {
  fill: var(--blue);
  color: var(--blue);
}

.link:hover,
.link:focus,
.header__menu__contact:hover,
.header__menu__contact:focus {
  color: var(--blue);
}
