/*  <!-- B U T T O N S  --> <!-- B U T T O N S  --> <!-- B U T T O N S  --> <!-- B U T T O N S  --> */

.button-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 94px;
}

.button__unit--style {
  border-radius: 4px;
  background-color: var(--button-color);
  color: var(--black-second);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  border: none;
}

.button__unit__all {
  width: 121px;
  height: 38px;
}

.button__unit__sites {
  width: 93px;
  height: 38px;
}

.button__unit__apps {
  width: 114px;
  height: 38px;
}

.button__unit-design {
  width: 91px;
  height: 38px;
}
.button__unit-marketing {
  width: 121px;
  height: 38px;
}
.button__unit__all:hover,
.button__unit__all:focus,
.button__unit__sites:hover,
.button__unit__sites:focus,
.button__unit__apps:hover,
.button__unit__apps:focus,
.button__unit-design:hover,
.button__unit-design:focus,
.button__unit-marketing:hover,
.button__unit-marketing:focus {
  background-color: var(--blue);
  color: var(--white);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
